.texto2{
-webkit-text-stroke: 0.3px black;
	  
	 line-height:27px;  
	 color: black;
	 font: 141px/1 Lobster,Arial,sans-serif;
	 font-size:35.0px;


}


.texto3{
-webkit-text-stroke: 0.3px black;
	  
	 line-height:27px;  
	 color: black;
	 font: 141px/1 Lobster,Arial,sans-serif;
	 font-size:20.0px;


}



.errores{
  
	 color: red;
	 font: 14px/1 Lobster,Arial,sans-serif;
	 font-size:18.0px;


}

