.fancyNav{
	/* Affects the UL element */
padding:0px;
}
.fancyNav li{
	/* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
	
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	
	/* Adding a 1px inset highlight for a more polished efect: */
	
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	
	position:relative;
	
	float: left;
	list-style: none;
}

.fancyNav li:after{

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/* Gradients! */
	
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
	
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	/* This will create a smooth transition for the opacity property */
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.fancyNav a.homeIcon{
	background:url('../imagenes/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 26px;
}


.sub{
   
	color:#FF6633;
}

.tablero1{
     z-index:1000;
	 position:absolute; 
	 top: 327px; left:130px; 
	 height:140px; 
	 width:300px;
}
.tablero2{
     z-index:1000;
	 position:absolute; 
	 top: 327px; left:590px; 
	 height:140px; 
	 width:300px;
}

.tablero3{
     z-index:1000;
	 position:absolute; 
	 top: 327px; left:1050px; 
	 height:140px; 
	 width:300px;
}
.texto1{

	-webkit-text-stroke: 0.3px black;
	  
	 line-height:27px;  
	 color: black;
	 font: 20px/1 Lobster,Arial,sans-serif;
	 font-size:25.0px;
}


.mensajes{
-webkit-text-stroke: 0.3px black;
	  
	 line-height:27px;  
	 color: black;
	 font: 140px/1 Lobster,Arial,sans-serif;
	 font-size:35.0px;

}


.boton {
  background: #00eaff;
  background-image: -webkit-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -moz-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -ms-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -o-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: linear-gradient(to bottom, #00eaff, #6fb0d9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 3px 5px 11px #1f2d2e;
  -moz-box-shadow: 3px 5px 11px #1f2d2e;
  box-shadow: 3px 5px 11px #1f2d2e;
  font-family: Arial;
  color: #171717;
  font-size: 30px;
  padding: 10px 40px 15px 40px;
  border: solid #005461 2px;
  text-decoration: none;
  font: 20px/1 Lobster,Arial,sans-serif;
}

.boton:hover {
  background: #025eb3;
  background-image: -webkit-linear-gradient(top, #025eb3, #3eacbd);
  background-image: -moz-linear-gradient(top, #025eb3, #3eacbd);
  background-image: -ms-linear-gradient(top, #025eb3, #3eacbd);
  background-image: -o-linear-gradient(top, #025eb3, #3eacbd);
  background-image: linear-gradient(to bottom, #025eb3, #3eacbd);
  text-decoration: none;
}



.text{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
   font: 15px/1 Lobster,Arial,sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%), rgba(252,252,252,1);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%), rgba(252,252,252,1);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%), rgba(252,252,252,1);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) , 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4) , 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background: #00eaff;
  background-image: -webkit-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -moz-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -ms-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: -o-linear-gradient(top, #00eaff, #6fb0d9);
  background-image: linear-gradient(to bottom, #00eaff, #6fb0d9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  -webkit-box-shadow: 3px 5px 11px #1f2d2e;
  -moz-box-shadow: 3px 5px 11px #1f2d2e;
  box-shadow: 3px 5px 11px #1f2d2e;
  font-family: Arial;
  color: #171717;
  font-size: 30px;
  border: solid #005461 2px;
  text-decoration: none;
  font: 20px/1 Lobster,Arial,sans-serif
}
